<link rel="stylesheet" href="/javascripts/data.js">

<h3>Hello {{user.first}} welcome to the fantasy football cheat sheet.</h3>


<div>
  <h3>Top players by pass yards</h3>
  <ul class="top-five-by-pass-yds"></ul>
</div>

<div>
  <h3>Top players by rushing yards</h3>
  <ul class="top-five-by-rush-yds"></ul>
</div>

<div>
  <h3>Top players by receiving yards</h3>
  <ul class="top-five-by-receiving-yds"></ul>
</div>
