<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body class="background">
    <div class="navbar">
        <img src="/images/logo.png" alt="football-logo" class="logo">
        <h2 class="nav-title">Fantasy Football Cheat Sheet</h2>
      <ul class="navbar-list">
        {{#if user}}
        <li class="navbar-list-items"><a href="/dash">Dashboard</a></li>
        <li class="navbar-list-items"><a href="/logout">Logout</a></li>
        {{else}}
        <li class="navbar-list-items"><a href="/signup">Home</a></li>
        <li class="navbar-list-items"><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>

    <br><br>
    
    {{{body}}}

    <script src='/javascripts/script.js'></script>
    <script src='/javascripts/data.js'></script>
  </body>
</html>
