<div class="greeting">
  <h1>Create a new team</h1>
  <form action="/team/create" method="POST">
    <button class="btn new-submit-btn">Submit</button>
  </form>
</div>

<div class="flexbox-container create-container">
    <div class="create-field-container">
      <h4>QB</h4>
      <input type="text" name="QB" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>RB1</h4>
      <input type="text" name="RB1" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>RB2</h4>
      <input type="text" name="RB2" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>WR1</h4>
      <input type="text" name="WR1" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>WR2</h4>
      <input type="text" name="WR2" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>TE</h4>
      <input type="text" name="TE" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>FLEX</h4>
      <input type="text" name="FLEX" class="edit-text-field">
    </div>
    <div class="create-field-container">
      <h4>K</h4>
      <input type="text" name="K" class="edit-text-field">
    </div>
</div>